* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.title {
  text-decoration: underline;
}

/* Main Container*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Game Status */
.game-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-grid {
  margin-top: 40px;
  background-color: lightblue;

  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid;
}

.section {
  border: 1px solid;
}